<%- include('../partials/header', {title: 'Dashboard Page'}); -%>
<div class="flex w-screen h-screen">
  <%- include('../partials/components/sidenav', {active: 'dashboard'}); -%>
  <section
    class="w-screen h-screen p-4 bg-gray-50 border-2 border-gray-200 rounded-lg lg:ml-2 mt-4 lg:mr-4"
  >
    <div
      class="flex justify-between bg-gray-100 m-2 p-6 items-center rounded-xl border-2 border-gray-200 mb-8"
    >
      <h1 class="text-xl lg:text-4xl font-bold">Dashboard</h1>
      <h1 class="text-md lg:text-2xl font-bold">
        Welcome, <%= username[0].toUpperCase() + username.slice(1) %>
      </h1>
    </div>
    <div class="gap-x-8 flex flex-wrap justify-between items-start gap-y-8 p-2">
      <%- include('../partials/components/dashboardCard', {title: `Total
      Assets`, total:`$${totalAssets}`, icon: 'money' , link: '/transactions',
      background:'bg-green-700',hover:'bg-green-600'}); -%> <%-
      include('../partials/components/dashboardCard', {title: 'Watchlists',
      total:totalWatchlists, icon: 'eye' , link: '/watchlists',
      background:'bg-blue-600',hover:'bg-blue-500'}); -%> <%-
      include('../partials/components/dashboardCard', {title:
      'Transactions',total:totalTransactions, icon: 'trans', link:
      '/transactions',background:'bg-slate-800',hover:'bg-slate-700'}); -%> -%>
    </div>

    <!-- ! TOP 3 VIEWED STOCKS DIV -->
    <div>
      <div
        class="flex justify-between bg-gray-100 m-2 p-4 items-center rounded-xl border-2 border-gray-200 mb-2 mt-8"
      >
        <h1 class="text-xl lg:text-2xl font-bold">Top 3 Most Viewed Stocks</h1>
      </div>
      <div class="flex mb-4 lg:p-4 lg:mb-8 overflow-auto">
        <%- include('../partials/components/mostViewedStocksTable', {stocks});
        -%>
      </div>
    </div>
  </section>
</div>
<%- include('../partials/footer'); -%>
