<%- include('../partials/header', {title: 'Stock Search Page'}); -%>
<div class="flex w-screen h-screen">
  <%- include('../partials/components/sidenav', {active: 'None'}); -%>
  <section class="w-full flex items-left container p-2">
    <div
      class="bg-gray-50 p-4 drop-shadow-xl border-2 border-gray-200 rounded-lg h-full w-full flex"
    >
      <div class="mx-auto max-w-4xl rounded-3xl bg-[#092540] p-14 text-center">
        <div class="flex items-base gap-x-4">
          <div
            class="bg-white rounded-full w-20 h-20 flex items-center justify-center"
          >
            <img src="<%= result.logo %>" alt="" class="h-14 w-14" />
          </div>
          <h2 class="text-5xl font-bold leading-tight text-white mb-8">
            <%= result.name %> (<%= result.symbol %>)
          </h2>
        </div>

        <p class="mt-5 text-xl leading-8 text-white text-left">
          <b>Headquarters:</b> <%= result.address %>
        </p>
        <p class="mt-5 text-xl leading-8 text-white text-left">
          <b>Market Cap:</b> $<%= result.marketCap %>
        </p>
        <p class="mt-5 text-xl leading-8 text-white text-left">
          <b>Price:</b> $<%= result.price %>
        </p>
        <p class="mt-5 text-xl leading-8 text-white text-left">
          <b>52 Week High:</b> $<%= result.fiftyTwoWeekHigh %>
        </p>
        <p class="mt-5 text-xl leading-8 text-white text-left">
          <b>52 Week Low:</b> $<%= result.fiftyTwoWeekLow %>
        </p>
        <p class="mt-5 text-xl leading-8 text-white text-left">
          <b>Earnings Per Share (EPS):</b> $<%= result.earningsPerShare %>
        </p>
        <p class="mt-5 text-xl leading-8 text-white text-left">
          <b>Section:</b> <%= result.section %>
        </p>
        <p class="mt-5 text-xl leading-8 text-white text-left">
          <b>Industry:</b> <%= result.industry %>
        </p>
        <p class="mt-5 text-xl leading-8 text-white text-left">
          <b>Description:</b> <%= result.description %>
        </p>
        <div class="mt-6 flex items-center justify-center gap-4">
          <%- include('../partials/components/addToWatchlistsModal',
          {watchLists:watchLists, result:result}); -%>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include('../partials/footer'); -%>
