<%- include('../partials/header', {title: 'Watchlists Page'}); -%>
<div class="flex w-screen h-screen">
  <%- include('../partials/components/sidenav', {active: 'Watchlists'}); -%>
  <section class="w-full container p-4">
    <div
      class="container bg-gray-50 p-4 drop-shadow-xl border-2 border-gray-200 rounded-lg h-full"
    >
      <div class="flex justify-between">
        <div>
          <h1 class="text-4xl mb-8"><%= username %>'s Watchlists</h1>
        </div>
        <div>
          <a href="/watchlists/new"
            ><button
              class="w-full bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded cursor-pointer"
              id="newWatchlist"
            >
              Create Watchlist
            </button></a
          >
        </div>
      </div>
      <div class="gap-x-8 flex flex-wrap items-center">
        <% watchlists.forEach(watchlist => { %> <%-
        include('../partials/components/watchlistCard', {watchlist: watchlist})
        -%> <% }) %>
      </div>
    </div>
  </section>
</div>
<%- include('../partials/footer'); -%>
