<%- include('../partials/header', {title: 'Watchlists Page'}); -%>
<div class="flex w-screen h-screen">
  <%- include('../partials/components/sidenav', {active: 'Watchlists'}); -%>
  <section class="w-full container p-4">
    <div
      class="container bg-gray-50 p-4 drop-shadow-xl border-2 border-gray-200 rounded-lg h-full"
    >
      <div class="flex justify-between">
        <div>
          <h1 class="text-4xl mb-8"><%= username %>'s Watchlists</h1>
        </div>
        <div>
          <%- include('../partials/components/createWatchlistModal'); -%>
        </div>
      </div>
      <div class="gap-x-8 flex items-center">
        <% watchlists.forEach(watchlist => { %> <%-
        include('../partials/components/watchlistCard', {name:watchlist.name,
        id:watchlist._id}) -%> <% }) %>
      </div>
    </div>
  </section>
</div>
<%- include('../partials/footer'); -%>
