<%- include('../partials/header'); -%> <% let x = 'Jhimson' %>
<h1 class="text-6xl"><%= x %></h1>
<ul>
  <% transactions.forEach(transaction => { %>
  <li>Symbol: <%= transaction.tickerSymbol%></li>
  <li>Type: <%= transaction.type%></li>
  <li>Price: $<%= transaction.stockPrice%></li>
  <li>Quantity: <%= transaction.quantity%></li>
  <li>Date: <%= transaction.date%></li>
  <hr />
  <% }) %>
</ul>
<%- include('../partials/footer'); -%>
