<%- include('../partials/header', {title: 'Transactions List'}); -%>
<div class="flex w-screen h-screen">
  <%- include('../partials/components/sidenav', {active: 'transactions'}); -%>
  <section
    class="w-full p-4 bg-gray-50 border-2 border-gray-200 rounded-lg ml-2 mt-4 mr-4"
  >
    <div
      class="flex flex-col gap-y-4 lg:flex-row justify-between bg-gray-100 m-2 p-6 items-center rounded-xl border-2 border-gray-200 mb-4"
    >
      <h1 class="text-2xl lg:text-4xl font-bold">Stocks transactions</h1>
      <h1 class="text-md lg:text-2xl font-bold">
        Welcome, <%= username[0].toUpperCase() + username.slice(1) %>
      </h1>
    </div>
    <div
      class="flex flex-col lg:flex-row gap-y-4 items-center justify-between p-6"
    >
      <div>
        <h1 class="text-2xl">
          Total Assets:
          <span
            class="<%= totalAsset > 0 ? 'text-green-500' : 'text-red-500' %>"
            >$<%= totalAsset %></span
          >
        </h1>
      </div>
      <div class="order-first lg:order-last">
        <%- include('../partials/components/createTransactionModal'); -%>
      </div>
    </div>
    <% if (transactions.length) { %>
    <ul>
      <%- include('../partials/components/transactionsTable', {transactions})
      -%>
    </ul>
    <% } else { %>
    <div class="flex items-center justify-center mt-20">
      <h1 class="text-6xl">No Transactions found!</h1>
    </div>
    <% } %>
  </section>
  <!-- </div> -->
  <%- include('../partials/footer'); -%>
</div>
