<%- include('../partials/header', {title: 'Transactions List'}); -%>
<div class="flex w-screen h-screen">
  <%- include('../partials/components/sidenav', {active: 'transactions'}); -%>
  <section
    class="w-full container p-4 bg-gray-50 border-2 border-gray-200 rounded-lg ml-4 mt-4"
  >
    <!-- <div
      class="bg-gray-50 p-4 drop-shadow-xl border-2 border-gray-200 rounded-lg h-full"
    > -->
    <h1 class="text-4xl mb-8">Welcome, <%= username %></h1>
    <div class="flex items-center justify-between">
      <div>
        <h1 class="text-2xl">Total Assets: $1,299,00</h1>
      </div>
      <div>
        <%- include('../partials/components/createTransactionModal'); -%>
      </div>
    </div>
    <ul>
      <%- include('../partials/components/transactionsTable', {transactions})
      -%>
    </ul>
  </section>
  <!-- </div> -->
  <%- include('../partials/footer'); -%>
</div>
