<table class="min-w-full leading-normal">
  <thead>
    <tr>
      <th
        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
      >
        Logo
      </th>
      <th
        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
      >
        Company
      </th>
      <th
        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
      >
        Ticker Symbol
      </th>
      <th
        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
      >
        Market Cap
      </th>
      <th
        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
      >
        Price
      </th>
      <th
        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
      >
        52 Week High
      </th>
      <th
        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
      >
        52 Week Low
      </th>
    </tr>
  </thead>
  <tbody>
    <% stocks.forEach(stock => { %>
    <tr>
      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
        <a href="/stocks/search/<%= stock.symbol %>"
          ><div class="flex items-center">
            <div class="flex-shrink-0 w-12 h-12">
              <img
                class="w-full h-full rounded-full"
                src="<%= stock.logo %>"
                alt=""
              />
            </div></div
        ></a>
      </td>
      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
        <p class="text-gray-900 whitespace-no-wrap"><%= stock.name %></p>
      </td>
      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
        <p class="text-gray-900 whitespace-no-wrap"><%= stock.symbol %></p>
      </td>
      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
        <p class="text-gray-900 whitespace-no-wrap">
          $<%= stock.marketCap.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
          %>
        </p>
      </td>
      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
        $<%= parseFloat(stock.price).toFixed(2) %>
      </td>
      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
        $<%= parseFloat(stock.fiftyTwoWeekHigh).toFixed(2) %>
      </td>
      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
        $<%= parseFloat(stock.fiftyTwoWeekLow).toFixed(2) %>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
