<div class="rounded-xl shadow-xl border-gray-200 border-2 flex p-4 mb-8">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 flex justify-between">
      <div>
        <form
          action="/watchlists/edit/<%= watchlist.id%>?_method=PUT"
          method="POST"
        >
          <input type="text" name="name" value="<%= watchlist.name %>" />
        </form>
      </div>

      <div>
        <form
          action="/watchlists/<%= watchlist.id %>?_method=DELETE"
          method="POST"
          class="inline-block"
        >
          <button type="submit" class="btn btn-default text-red-500">
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
              ></path>
            </svg>
          </button>
        </form>
      </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg border-2 border-gray-100">
      <ul class="divide-y-8 text-gray-500">
        <% if(watchlist.stocks.length > 0) { %> <%
        watchlist.stocks.forEach(stock => { %>
        <li
          class="p-3 bg-gray-50 hover:bg-gray-300 hover:text-black hover:font-bold w-96 cursor-pointer flex justify-between items-center border-2 border-gray-200"
        >
          <div>
            <img
              class="w-12 h-12 rounded-full border-2 border-white object-contain"
              src="<%= stock.logo %>"
              alt=""
            />
          </div>
          <div><%= stock.symbol %></div>
          <div class="text-green-500">$<%= stock.price %></div>
          <div class="flex gap-x-4 items-center">
            <a href="/stocks/search/<%= stock.symbol %>">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 text-gray-500 hover:text-blue-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                /></svg
            ></a>
            <a href="/watchlists/remove/<%= watchlist._id %>/<%= stock._id %>">
              <svg
                class="w-6 h-6 text-gray-500 hover:text-red-500"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                ></path></svg
            ></a>
          </div>
        </li>
        <% }) %> <% } else { %>
        <h1
          class="p-3 hover:bg-blue-600 hover:text-blue-200 w-96 cursor-pointer"
        >
          CURRENTLY NO STOCKS IN THE WATCHLIST
        </h1>
        <% } %>
      </ul>
    </div>
  </div>
</div>
